h1 {
    margin: 0px 0 10px 0;
    max-width: 100%;
    min-width: 220px;
    color: #333333;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7);
    font-weight: 600;
    line-height: 1.4em;
    font-size: 34px;
}
h2 {
    color: black;
    margin: 45px 0px 30px 0px;
    padding: 10px 0px 15px 0px;
    clear: both;
    font-size: 32px;
    font-weight: normal;
}

h3 {
    background: white;
}


p {
}

quote {
  color: #555;
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-ideograph;
  margin: 20px auto;
  line-height: 30px;
}
quoteblock,
blockquote {
  padding: 0 0 0 15px;
  margin: 10px 0 10px 0px;
  border-left: 5px solid #eeeeee;
  background: white;
  color: #666;
  font-size: 16px;
}

.img {
  box-shadow: 3px 3px 30px #C3C2C2;
  padding: 2px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}



ul.list {
  padding: 0px;
  margin: 0px 0 0 0px;
}

ul.list li {
  line-height: 1.8;
  color: #333;
  padding: 0px 0 0 25px;
  margin: 0px 0 0 20px;
  list-style-type: square;
  padding-left: 0px !important;
  background: none !important;
}

.indent1 {
  margin-left: 40px !important;
}
.indent2 {
  margin-left: 60px !important;
}
.indent3 {
  margin-left: 80px !important;
}
.codeBlock {
  width: 90%;
  margin: 12px auto;
}
.codeBlock .title {
  padding: 5px 0 5px 12px;
  margin: 0 0 0px 0;
  background: #F7F7F9;
  display: block;
  color: #333333;
  font-size: 13px;
  border: 1px solid #ECECF0;
  border-bottom: 0px;
}
.codeBlock .title:empty:before {
  content: "Example";
}
/* Specify class=linenums on a pre to get line numbering */
.codeBlock {
  color: white;
  background-color: #F7F7F9;
  -webkit-font-smoothing: antialiased;
}
.prettyprint .com {
  color: #93a1a1;
}
.prettyprint .lit {
  color: #195f91;
}
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #3B593A;
}
.prettyprint .fun {
  color: #dc322f;
}
.prettyprint .str,
.prettyprint .atv {
  color: #D14;
}
.prettyprint .kwd,
.prettyprint .linenums .tag {
  color: #1e347b;
}
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
  color: teal;
}
.prettyprint .pln {
  color: #48484c;
}
.comment-content pre.prettyprint code,
.post-content pre.prettyprint code,
pre.prettyprint code {
  padding: 0;
  margin: 0;
  border: none;
  display: block;
  white-space: pre;
}
pre.prettyprint,
code.prettyprint,
.post-content pre.prettyprint,
.post-content code.prettyprint,
.comment-content pre.prettyprint,
.comment-content code.prettyprint {
  word-wrap: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  max-height: 450px;
  overflow: auto;
}
.prettyprint {
  padding: 8px;
  margin-top: 0px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  padding: 0;
}
/* Specify class=linenums on a pre to get line numbering */
.prettyprint ol.linenums {
  padding: 8px 8px 8px 50px;
  margin: 0;
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
.prettyprint ol.linenums li {
  padding-left: 12px;
  color: #00595B;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}
.prettyprint ol.linenums li:hover {
  background: #eee;
}
code.prettyprint {
  display: block;
}
code {
    border: 1px solid #cecece;
    border-radiu: 3px;
    padding: 2px 5px;
}
/*********table ******/
.table {
  width: 100%;
  margin-bottom: 1em;
  word-wrap: break-word;
  border-collapse: collapse;
  border-spacing: 0;
}
.table th {
  background: #222;
  color: #FFF;
  padding: 10px;
  font-weight: 600;
  border: 1px solid #CCC;
}

.table td {
    border: 1px solid #CCC;
    padding: 5px;
    text-align: center;
}

